In [4]:
import pandas as pd
import numpy as np

In [5]:
data_location = "properati.csv"

In [6]:
data = pd.read_csv(data_location, sep=",")
data.shape

(121220, 26)

In [7]:
data.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [8]:
#vemos los barrios

capital_federal_data = data[data.state_name == "Capital Federal"]
capital_federal_data.place_name.unique()

# definimos palermo palermo :  

# palermo soho
# palermo
# las cañitas
# palermo hollywood
# palermo chico
# palermo viejo

array(['Mataderos', 'Liniers', 'Belgrano', 'Palermo Soho', 'Palermo',
       'Flores', 'Boedo', 'Las Cañitas', 'Puerto Madero', 'Balvanera',
       'Caballito', 'Nuñez', 'San Telmo', 'Almagro', 'Capital Federal',
       'Colegiales', 'Floresta', 'Barrio Norte', 'Barracas', 'Recoleta',
       'Congreso', 'Villa Crespo', 'Chacarita', 'Constitución',
       'Villa Urquiza', 'Palermo Hollywood', 'Saavedra', 'Monserrat',
       'Pompeya', 'Parque Chas', 'Paternal', 'Agronomía',
       'Villa Pueyrredón', 'Coghlan', 'Parque Centenario',
       'Palermo Chico', 'Villa Luro', 'Villa Devoto', 'Boca',
       'Parque Avellaneda', 'San Cristobal', 'Velez Sarsfield', 'Abasto',
       'Versalles', 'Villa del Parque', 'Monte Castro', 'Retiro',
       'Parque Patricios', 'San Nicolás', 'Villa Santa Rita',
       'Centro / Microcentro', 'Once', 'Tribunales', 'Parque Chacabuco',
       'Catalinas', 'Villa General Mitre', 'Palermo Viejo',
       'Villa Lugano', 'Villa Ortuzar', 'Villa Soldati', 'Villa Real',
       'Villa Riachuelo'], dtype=object)

In [9]:
#HACEMOS UNA LISTA PALERMO

lista_palermo = ['Palermo Soho', 'Palermo', 'Las Cañitas', 'Palermo Hollywood', 'Palermo Viejo', 'Palermo Chico']

In [10]:
#realizamos bucle para que cada elemento de la lista sea un df

for i in range(0,len(lista_palermo)):
    lista_palermo[i]= data[data.place_name == lista_palermo[i]]

#concatenamos los df

df_palermo =pd.concat(lista_palermo)

df_palermo.place_name.value_counts()


df_palermo.shape

(4226, 26)

In [11]:
import re

In [12]:
#realizamos una lista que sera la indexacion de las nuevas columnas

index = ["1a","2a","3a","4a","5a","6a","7a","8a","9a","10a","11a","12a","13a","14a","15a"]


#creo las columnas a traves de un bucle y les asigno valor = 0
for i in range(0, len(index)):
    df_palermo[index[i]]=0 

#creo columna por valor "parrilla" y le asigno valor = 0
df_palermo['parrilla'] = 0

df_palermo.head(1)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,7a,8a,9a,10a,11a,12a,13a,14a,15a,parrilla
13,13,sell,apartment,Palermo Soho,|Argentina|Capital Federal|Palermo|Palermo Soho|,Argentina,Capital Federal,3430234.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [13]:
#creando indices

#Index.get_loc(key, method=None, tolerance=None) => get_loc extrae el nro referente al indice del item al que se lo aplica
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.get_loc.html


#index_title = df_palermo.columns.get_loc("title")
index_description = df_palermo.columns.get_loc("description")

#creando extrayendo valor del indice de ambientes y los guardo en una lista
for i in range(0, len(index)):
    index[i]= df_palermo.columns.get_loc(index[i])
    #print(index[i])

#extrayendo valor del indice parrilla
index_parrilla = df_palermo.columns.get_loc("parrilla")

print(index_description, index)
#23 para la descripcion, #columna rescatada

23 [26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [19]:
#definir patron de dato

patron_1a = r'(1 AMB|1AMB|MONOAMB|ambiente unico)'
patron_2a = r'(2 AMB|2AMB})'
patron_3a = r'(3 AMB|3AMB)'
patron_4a = r'(4 AMB|4AMB)'
patron_5a = r'(5 AMB|5AMB)'
patron_6a = r'(6 AMB|6AMB)'
patron_7a = r'(7 AMB|7AMB)'
patron_8a = r'(8 AMB|8AMB)'
patron_9a = r'(9 AMB|9AMB)'
patron_10a = r'(10 AMB|10AMB)'
patron_11a = r'(11 AMB|11AMB)'
patron_12a = r'(12 AMB|12AMB)'
patron_13a = r'(13 AMB|13AMB)'
patron_14a = r'(14 AMB|14AMB)'
patron_15a = r'(15 AMB|15AMB)'
patron_parrilla = r'(parrilla)' 

#creo lista de patrones
patrones = [ patron_1a, patron_2a, patron_3a, patron_4a, patron_5a, patron_6a, patron_7a, patron_8a, patron_9a, patron_10a, patron_11a, patron_12a, patron_13a, patron_14a, patron_15a]

In [20]:
#aplicando el patron


#property DataFrame.iat(row, column)
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html

for row in range(0,len(df_palermo)):
    for i in range(0,len(patrones)):
        matcheo = re.search(patrones[i], df_palermo.iat[row, index_description], re.IGNORECASE)
        if matcheo != None:
            df_palermo.iat[row, index[i]] = 1
    
#aplicando el patron para valor parrilla

for row in range(0, len(df_palermo)):
    matcheo = re.search(patron_parrilla, df_palermo.iat[row, index_description], re.IGNORECASE)
    if matcheo != None:
        df_palermo.iat[row, index_parrilla] = 1

In [21]:
df_palermo.iloc[:,23:].head(20)

,description,title,image_thumbnail,1a,2a,3a,4a,5a,6a,7a,8a,9a,10a,11a,12a,13a,14a,15a,parrilla
13,Torre I Mondrian. 3 ambientes con terraza y d...,Vitraux Palermo,https://thumbs4.properati.com/2/ZTUjkRzTz6YvcU...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
14,Torre II Dalí. Ambiente unico divisible.Vitrau...,Vitraux Palermo,https://thumbs4.properati.com/8/Uay2dC732CNlRw...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1631,VENTA DEPARTAMENTO PALERMO SOHO DE 1 AMBIENTE ...,Departamento venta,https://thumbs4.properati.com/1/t9vw-NfCqtPYJu...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4335,CODIGO: 1114-95 ubicado en: AV. RAUL S. ORTIZ ...,1 AMBIENTE PALERMO SOHO APTO PROFESIONAL,https://thumbs4.properati.com/2/D-ZbCXm1yZ7jo4...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5228,El precio de la cochera no está incuida en el ...,Quantum Beruti 2 amb LISTO PARA MUDARSE,https://thumbs4.properati.com/2/zd1UDj1EgTuUA0...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5434,Venta de Departamento 2 AMBIENTES en Palermo S...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/0/c7UBr1-KmQ4s5X...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5441,VENTA 2 AMBIENTES A ESTRENAR CON COCHERA EN PA...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/8/jCrN9QpkMCkuxn...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5442,VENTA 2 AMBIENTES A ESTRENAR CON COCHERA EN PA...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/2/7rr02rfZr5ZRxu...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5908,Excelente depto a estrenar en venta en el cora...,A estrenar excelente depto en venta en el cora...,https://thumbs4.properati.com/7/wFqHUwfrJZwge2...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5909,Excelente ubicacion Monoambiente a estrenar.- ...,Hermoso Monoambiente en Venta a estrenar - Pal...,https://thumbs4.properati.com/6/yvUougzR0TAFjk...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5911,Departamento 1 ambiente facilmente divisible A...,A estrenar excelente depto en venta en el cora...,https://thumbs4.properati.com/8/KsWk7XbysTFv-Q...,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
6678,ESPECTACULAR MONOAMBIENTE REFACCIONADO A NUEVO...,venta 1 ambiente divisible Palermo,https://thumbs4.properati.com/9/AnKITSNOhHh2C6...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6688,EXCELENTES UNIDADES 1 AMB AL FRTENTE C/BCON AP...,DPTOS 1 AMB A ESTRENAR AL FRTE C/BCON COCH OPC...,https://thumbs4.properati.com/2/uxz7mmhHbs_ly_...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7945,Estudio IDEAL PARA TRABAJAR! Apto profesional ...,MONOAMBIENTE DIVISIBLE en la mejor zona de PAL...,https://thumbs4.properati.com/2/eJHLQkDuQlnjln...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7946,"A solo 1 cuadra de Av Córdoba y 2 de Honduras,...",Departamento - Palermo Soho,https://thumbs4.properati.com/2/eJHLQkDuQlnjln...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7947,"A solo 1 cuadra de Av Córdoba y 2 de Honduras,...",Departamento - Palermo Soho,https://thumbs4.properati.com/2/eJHLQkDuQlnjln...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7948,2 AMBIENTES EN PALERMO!! Ideal para vivir!Dise...,2 AMBIENTES EN POZO. IDEAL PARA VIVIR!,https://thumbs4.properati.com/2/eJHLQkDuQlnjln...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7949,"A solo 1 cuadra de Av Córdoba y 2 de Honduras,...",Departamento - Palermo Soho,https://thumbs4.properati.com/2/eJHLQkDuQlnjln...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7950,"A solo 1 cuadra de Av Córdoba y 2 de Honduras,...",Departamento - Palermo Soho,https://thumbs4.properati.com/2/eJHLQkDuQlnjln...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7951,"A solo 1 cuadra de Av Córdoba y 2 de Honduras,...",Departamento - Palermo Soho,https://thumbs4.properati.com/2/eJHLQkDuQlnjln...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [22]:
df_palermo.iloc[:,26:].head(20)

,1a,2a,3a,4a,5a,6a,7a,8a,9a,10a,11a,12a,13a,14a,15a,parrilla
13,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
14,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1631,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4335,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5228,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5434,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5441,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5442,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5908,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5909,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5911,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
6678,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6688,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7945,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7946,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7947,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7948,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7949,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7950,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7951,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
df_palermo.description

13         Torre I Mondrian. 3 ambientes con terraza y d...
14        Torre II Dalí. Ambiente unico divisible.Vitrau...
1631      VENTA DEPARTAMENTO PALERMO SOHO DE 1 AMBIENTE ...
4335      CODIGO: 1114-95 ubicado en: AV. RAUL S. ORTIZ ...
5228      El precio de la cochera no está incuida en el ...
                                ...
120737    Departamento 27m² en Ruggieri, Silvio L. 2916,...
120807                    AMPLIO MONOAMBIENTE DIVIDIDO- ...
120857           Departamento 110m², Palermo, Palermo Chico
120865                    TORRE LAS PLAZAS- COMPLEJO DE ...
120932                    EXCELENTE SEMIPISO-PALIER PRIV...
Name: description, Length: 4226, dtype: object

In [24]:
df_palermo.title

13                                 Vitraux Palermo
14                                 Vitraux Palermo
1631                            Departamento venta
4335      1 AMBIENTE PALERMO SOHO APTO PROFESIONAL
5228       Quantum Beruti 2 amb LISTO PARA MUDARSE
                            ...
120737                Departamento - Palermo Chico
120807                Departamento - Palermo Chico
120857                Departamento - Palermo Chico
120865                Departamento - Palermo Chico
120932                Departamento - Palermo Chico
Name: title, Length: 4226, dtype: object

In [28]:
df_palermo.iloc[:,26:40].sum()

1a     668
2a     711
3a     691
4a     432
5a     114
6a       8
7a       9
8a       3
9a       1
10a      1
11a      0
12a      1
13a      0
14a      0
dtype: int64

In [32]:
df_palermo["error"]=0

df_palermo.head(1)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,8a,9a,10a,11a,12a,13a,14a,15a,parrilla,error
13,13,sell,apartment,Palermo Soho,|Argentina|Capital Federal|Palermo|Palermo Soho|,Argentina,Capital Federal,3430234.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0